@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);



/* ---------------------- LOGIN ------------------------- */
.bodyLogin{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-color: #de1b1b;
    -webkit-filter: blur(0px);
    
}



.headerLogin{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    
}


.headerLogin div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.headerLogin div span{
    color: #F29E20 !important;
}




.login{
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    
}

.login input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button]{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover{
    opacity: 0.8;
}

.login input[type=button]:active{
    opacity: 0.6;
}

.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
    outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}


/*------------------ Main ------------------------------*/

.bodyMain {
    
    font-family: 'Exo', sans-serif;
    background-color: #ebebeb;
}

.headerMain {
    background-color: #de1b1b;
    height: 147px;
    width: 100%;
}

.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}


.navArea {
   
    height: 147px; /*100*/
    float: left;
    padding-left: -15px;
    
}

.nav {
    list-style: none;
    margin-top: 1%;
    margin-left: 18%;
    width: 100%;
}

.nav a, #viewDept{
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
   
}

ul li a:hover, ul li a:focus, #viewDept:hover, #viewDept:focus {
 cursor: pointer; 
 cursor: hand;
 color:#ffac42;
}

.nav .current {
    color: #ffac42;
}

.nav li {
    float: left;
    margin-left: 80px;
    margin-top: 4%;
    padding: 8px;
    width: 140px;
    height: 45px;
    text-align: center;
    white-space: nowrap;
    padding-left: 0px;
}



#textHeader span{
    color: #F29E20 !important;
    position: absolute;
    margin-left: -27%;
    margin-top: 25%;
    font-size: 30pt;
    display: inline-block;
}
#textHeader {
      position: absolute;
    font-size:40pt;
    margin-left:2%;
    margin-top: 1%;
    color:white;
}
#login_pic {
    position:absolute;
    margin-left:8.6%;
    margin-top: 1.2%
 
}
#logout {
    position:absolute;
    margin-left: 9%;
    margin-top: 7%;
    font-size: 12pt;
    white-space: nowrap;
    text-decoration: underline;
    
}
#login_id{
    position:absolute;
    margin-left:75.5%;
    margin-top: 7%;
    font-size: 16pt;
}


#edit_bev {
padding: 5px;
}

/* ----------------- lists ----------------- */
#title {
	display: inline-block;
	width: 35%;
	margin: .5% 7%;
    padding-right: .5%;
	font-size: 25px;

}

#titles {
	margin-top: 4%;
}

#inventory, #stock {
    border: solid;
    width: 35%;
    overflow: scroll;
    height: 400px;
    margin: 0% 7% 5% 7%;
    display: inline-block;
}

#price {
    width:30%;
    display:inline-block;
    text-align: right;
}

#name {
    width: 70%;
    display: inline-block;
}

#beer_id {
    margin: 1% 1% 1% 1%;
    border: 1px solid #eee;
    height: 9%;
    vertical-align: middle;
    line-height: 33px;
    padding: 0% 2%;
    background: #f9f9f9;
    font-size: 1vw;
}
#stock_id {
margin: 1% 1% 1% 1%;
    border: 1px solid #094c61;
    height: 9%;
    vertical-align: middle;
    line-height: 33px;
    padding: 0% 2%;
    background: #f76168;
    font-size: 1vw;
    color: white;
}

#submitStock {
	display: inline-block;
    margin: 0 10px 20px 0;
    padding: 8px 13px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #de1b1b;
    border: none;
	
}

#submitStock:hover, #clear:hover {
    background-color: #c33333;
    cursor: pointer; 
    cursor: hand;
}

#submitStock:active, #clear:active {
    background-color: #ab2d2d;
}

#search { 
    float: right;
    padding: 1.5% 2%;
    width: 48%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#clear { 
    float: right;
    margin: 0px -5px 0px 0px;
    padding: 8px 13px;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #de1b1b;
    border: none;
    font-weight: bold;
}

#search:focus { 
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

/*Place holder for deffirent browsers*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e64646;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e64646;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e64646;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e64646;
}

#dept { 
    display: inline-block;
    width: 100%;
    height: 5vw;
    padding: 2.5vw 0 0 2vw;
    font-size: 1.5vw;
    color: #cc3700;
    background-color: #ffe7c8;
    font-weight: 600;
    border: solid #f5a53e 2px;
    display: none;
}
